.logo{text-align: center;}
.logo h1{background-color: black;color: white;}


.productos article{display: inline-block;
    width: 45%;margin:10px;
    text-align: center;}
.productos img{width: 100%;height: 400px;
    object-fit:contain;}
.productos{text-align: center;}
   